html {
  display: flex;
  justify-content: center;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 700px;
}

header {
  display: flex;
  justify-content: center;
}

#icon {
  border-radius: 50%;
  max-width: 120px;
  height: auto;
}

h1 {
  text-align: center;
  font-size: 2.2rem;
}

h2 {
  font-size: 1.8rem;
}

h1,
h2,
h3 {
  font-family: "Bitter", serif;
}

p {
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  justify-content: center;
}

nav ul {
  display: flex;
}

nav ul li {
  margin: 1rem;
}

main {
  display: flex;
  flex-direction: column;
}

.second {
  display: flex;
}

.news {
  max-width: 60%;
  display: flex;
  flex-direction: column;
}

.events {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.event-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.event-item {
  display: flex;
}

.event-item p {
  font-size: 1.1rem;
}

.date {
  border-radius: 10px;
  background-color: #fc5200;
  color: white;
  text-align: center;
  margin-top: -13px;
  margin-bottom: 9px;
  margin-right: 2px;
  max-height: 128%;
}

.date p {
  font-size: 1.2rem;
  margin-bottom: -14px;
  margin-top: 9px;
}

.photos {
  display: flex;
  flex-direction: column;
}

.photo-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.photo {
  flex-wrap: wrap;
  max-width: 45%;
  margin: 0 0.2rem;
}

.photo img {
  max-width: 100%;
}

.photo p {
  text-align: center;
}

.tip-of-the-week {
  max-width: 85%;
  margin: 2rem auto;
  border-bottom: 1px dotted gray;
}

.tip-of-the-week img {
  display: flex;
  margin: 0 auto;
  max-width: 70%;
  border-radius: 50%;
}

.strava {
  margin: 1rem auto 0;
}

.strava button {
  width: 200px;
  font-size: 2rem;
  background-color: #fc5200;
  color: white;
  border-radius: 10px;
  border: 2px solid black;
}

.strava button:hover {
  cursor: pointer;
}

footer {
  display: flex;
  flex-direction: column;
  margin: 3rem auto 0;
  border-top: 1px dotted gray;
  width: 85%;
}

.copyright {
  margin: 0 auto;
}

.address {
  margin: 0 auto;
  text-align: center;
}

.address p {
  margin-top: -1rem;
}

@media screen and (max-width: 600px) {
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .first {
    max-width: 85%;
    margin: 0 auto;
  }

  .second {
    display: flex;
    flex-direction: column;
  }

  .news {
    display: flex;
    max-width: 85%;
    margin: 0 auto;
  }
  .events {
    display: flex;
    justify-content: center;
    max-width: 85%;
  }

  h2 {
    text-align: center;
  }

  .photo-container {
    display: flex;
    flex-direction: column;
  }

  .photo {
    flex-wrap: wrap;
    max-width: 100%;
  }
}
